body {
  background-color: #33C7FF;
  padding: 5px;
}

img {
  width: 50px;
  height: 50px;
  vertical-align: top;
  display: inline-block;
  margin-left: 70px;
  margin-top: 30px;
}

#navBar {
  background-color: #3380FF;
  width: 26%;
  height: 276px;
  position: absolute;
  margin-left: 32%;
  margin-top: 24px;
  padding: 15px;
  text-align: center;
  border: 1px solid white;
}

.tile {
    border: 1px solid black;
    width: 32%;
    height: 70px;
    text-align: center;
    background-color: white;
    padding-top: 30px;
    font-size: 0px;
    float: left;
    vertical-align: top;
    display: inline-block;
}

.selectedTile {
  background-color: gray;
}

.redTile {
  background-color: red;
}

.greenTile {
  background-color: lime;
}

#startButton {
  width: 80px;
  height: 40px;
}

#newGameButton {
  width: 80px;
  height: 40px;
}

#tileContainer {
    width: 30%;
    display: inline-block;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#wordContainer {
  width: 99%;
  height: 130px;
  border: 3px black solid;
}

#clickedWord{
  width: 65%;
  height: 60px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  vertical-align: top;
  padding-top: 30px;
}

#countdownTimer {
  width: 25%;
  height: 60px;
  display: inline-block;
  font-size: 20px;
  border-left: 3px solid black;
  text-align: center;
  padding-left: 10px;
  padding-top: 30px;
  vertical-align: top;
}

#enterButton {
  width: 200px;
  height: 100px;
  margin-top: 35px;
}

#submitContainer {
  width: 27%;
  height: 315px;
  vertical-align: top;
  display: inline-block;
  padding-right: 7px;
  padding-left: 5px;
  padding-top: 5px;
  text-align: center;
  margin-top: 20px;
  margin-left: 13px;
  margin-bottom: 20px;
}

#playerOneBoard {
  width: 49%;
  height: 100%;
  display: inline-block;
  background-color: #336EFF;
  border: 1px solid black;
}

#playerOneScoreSection {
  width: 93%;
  background-color: #338DFF;
  vertical-align: top;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 5px;
  height: 70px;
  margin-top: 5px;
  margin-left: 5px;
}

#playerTwoScoreSection {
  background-color: #338DFF;
  vertical-align: top;
  width: 93%;
  height: 70px;
  margin-left: 5px;
  margin-top: 5px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 5px;
}

#playerTwoBoard {
  width: 49%;
  height: 100%;
  display: inline-block;
  background-color: #336EFF;
  vertical-align: top;
  border: 1px solid black;
}

.addWord{
  background-color: white;
  padding-left: 15px;
  width: 88%;
  margin: 0px;
  margin-left: 5px;
  margin-bottom: 3px;
  display: inline-block;
  float: left;
  vertical-align: top;
  font-size: 20px;
}

#playerOneAddedWord {
  margin-top: 15px;
  width: 99%;
  height: 68%;
  overflow: scroll;
}

#playerTwoAddedWord {
  margin-top: 15px;
  width: 99%;
  height: 68%;
  overflow: scroll;
}

#playerBoard {
  width: 35%;
  height: 306px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 13px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 20px;
}

#gameContainer {
  width: 100%;
  background-color: #33A2FF;
}
