body {
  background-color: #33C7FF;
}

img {
  width: 50px;
  height: 50px;
  vertical-align: top;
  display: inline-block;
  margin-left: 70px;
  margin-top: 30px;
}

#navBar {
  background-color: #3380FF;
  width: 300px;
  height: 276px;
  position: absolute;
  margin-left: 400px;
  margin-top: 20px;
  padding: 15px;
  border: 5px solid lightblue;
  text-align: center;

}

.tile {
    border: 1px solid black;
    width: 97px;
    height: 67px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    background-color: white;
    margin-bottom: 3px;
    padding-top: 30px;
    font-size: 20px;
}

.selectedTile {
  background-color: gray;
}

.redTile {
  background-color: red;
}

.greenTile {
  background-color: lime;
}

#startButton {
  width: 80px;
  height: 40px;
}

#newGameButton {
  width: 80px;
  height: 40px;
}

#tileContainer {
    background-color: lightblue;
    width: 307px;
    margin: 20px;
    padding: 5px;
    display: inline-block;
}

#wordContainer {
  width: 300px;
  height: 130px;
  border: 3px black solid;
}

#clickedWord{
  width: 160px;
  height: 60px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  vertical-align: top;
  padding-top: 30px;
}

#countdownTimer {
  position: absolute;
  width: 60px;
  height: 60px;
  display: inline-block;
  font-size: 20px;
  border-left: 3px solid black;
  text-align: center;
  margin-left: 35px;
  padding-left: 10px;
  vertical-align: top;
  padding-top: 30px;
}

#submitContainer {
  width: 307px;
  height: 305px;
  vertical-align: top;
  margin: 20px;
  display: inline-block;
  background-color: lightblue;
  padding: 5px;
}

#enterButton {
  width: 200px;
  height: 100px;
  margin-top: 50px;
  margin-left: 50px;

}

#playerOneBoard {
  width: 49%;
  height: 100%;
  display: inline-block;
  background-color: #336EFF;
}

#playerOneScoreSection {
  width: 92%;
  background-color: #338DFF;
  vertical-align: top;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 5px;
  height: 70px;
  margin-top: 5px;
  margin-left: 5px;
}

#playerOneWords{
  background-color: #33E6FF;
  height: 100px;
  margin: 10px;
}

#playerTwoBoard {
  width: 49%;
  height: 100%;
  display: inline-block;
  background-color: #336EFF;
  vertical-align: top;
}

#playerTwoScoreSection {
  background-color: #338DFF;
  vertical-align: top;
  width: 92%;
  height: 70px;
  margin-left: 5px;
  margin-top: 5px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 5px;
}

#playerTwoWords {
  background-color: #33E6FF;
  height: 100px;
  margin: 10px;
}

.addedWordClass {
  background-color: white;
  width: 140px;
  margin-left: 10px;
  margin-top: 5px;
  vertical-align: top;
  display: inline-block;
  float: left;
}

.addedWordP {
  color: green;
  font-weight: bold;
  position: relative;
  left: 50%;
}

#playerBoard {
  width: 410px;
  height: 305px;
  background-color: lightblue;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
}

#gameContainer {
  width: 1200px;
  background-color: #33A2FF;
  margin: 20px;
}
